---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import resume from '../../public/karel-leorier.json';
const getFlagEmoji = (countryCode: string)=>String.fromCodePoint(...[...countryCode.toUpperCase()].map(x=>0x1f1a5+x.charCodeAt(0)))

---

<Layout title={`${resume.basics.name}'s Resume`}>
	<main>
		<h1><span class="text-gradient">{resume.basics.name}</span></h1>
		<h2>{resume.basics.label} {getFlagEmoji(resume.basics.location?.countryCode)}</h2>
		<p class="instructions">
			{resume.basics.summary}
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="Work experience"
				body="All of my super charged missions ðŸš€."
			/>
			<Card
				href="#"
				title="Skills"
				body="Tools, dev languages & frameworks stuff."
			/>
			<Card
				href="#"
				title="Other info"
				body="Education, languages & interests."
			/>
			<Card
				href="#"
				title="Contact Me"
				body="Just say hi or hire me. â¤ï¸"
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		color: #444;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
